
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


#admin-page{
  padding-top: 0px;
}

#nested-comment{

  margin-top: 60px;
}

.comment-reply {
  display: none;
}